body {
  font-family: CandyScript, cursive;
}

h1 {
  font-size: 18pt;
  font-family: Arvo;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #4C2882, #A03CCB);
  border-radius: 10px;
  padding: 10px;
  width: 65%;
  text-align: center;
  margin: 0 auto;
  color: #ADD8E6;
  border: 2px solid #CB9BDE;
  box-shadow: 5px 5px 5px #B79A00;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.imagen {
  overflow: hidden;
  background-color: #CCCCCC;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  max-width: 100%;
  max-height: 100%;
}

.tile p {
  text-align: center;
  margin-top: 5px;
  font-family: Arvo;
}

.imagen:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.separator {
  width: 80%;
  margin: 40px auto 20px;
  border-bottom: 1px dashed #666666;
  color: #666666;
}