.title-border {
    border: 2px solid lightblue;
    padding: 10px;
    background-color: #CFE2FF;
    border-radius: 10px;
    padding: 5px;
}

.title-title {
    color: darkblue; 
    padding: 10px;
}

.custom-margin-right {
    margin-left: 81%;
}

.h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}